* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}



nav {
    display: flex;
}

.main{
    margin-left:400px;
    
}
.main a {
    list-style: none;
    font-size: 1.3rem;
    color: black;
    display:block;
    text-decoration: none;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    border-radius:10px;
}

.main a:hover{
    background-color:greenyellow;
}

.logo img {
    width:50px;
    height: 50px;
    margin-top:12px;

    margin-left: 30px;
    opacity: 0.8;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: black;
    margin-top: 10%;

}

p {
    text-align: center;
    font-size: 20px;
}

.button {
    text-align: center;

}


.btn{
    text-decoration: none;
    font-size: 1rem;
    color:black;
    margin:4px;
    padding: 2px;
    border-radius: 12px;
    border-color: orangered;
    
}

.btn:hover{
    background-color: aqua;
}


